<!DOCTYPE html>
<html>
<head>
    <title>Mapa</title>
    <!-- Agrega Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        /* Estilo básico para el mapa */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Mapa</h1>
   
    <!-- Div para mostrar el mapa -->
    <div id="map"></div>

    <script>
        // Función para inicializar el mapa
        function initMap() {

            var latitude =  JSON.parse('{{ latitude | tojson | safe }}');
            var longitude =  JSON.parse('{{ longitude | tojson | safe }}');

            // Crea un mapa de Leaflet en el div con id "map"
            var map = L.map('map').setView([latitude, longitude], 12);

            // Agrega una capa de mapa base de OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Crea un marcador en la ubicación especificada
            L.marker([latitude, longitude]).addTo(map)
                .bindPopup('Ubicación')
                .openPopup();

            // Obtener el historial de sitios visitados
            var sitios_visitados = JSON.parse('{{ sitios_visitados | tojson | safe }}');

            // Iterar sobre cada sitio visitado y agregar un marcador al mapa
            sitios_visitados.forEach(function(sitio) {
                L.marker([sitio.latitud, sitio.longitud]).addTo(map)
                    .bindPopup(sitio.nombre)
                    .openPopup();
            });

        }
        // Llama a la función initMap una vez que el DOM esté listo
        
        document.addEventListener('DOMContentLoaded', initMap);
    </script>
</body>
</html>